<!DOCTYPE html>
<html>
<head>
  <title>SubscriptionFeatures</title>
  <%= stylesheet_link_tag    "subscription_features/application", media: "all" %>
  <%= javascript_include_tag "subscription_features/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
