// 'bootstrap-sprockets' must be imported before 'bootstrap' and 'bootstrap/variables'
@import 'bootstrap-sprockets';
@import 'bootstrap';

footer {
  border-top: solid 1px $brand-info;
  background-color: lighten($brand-info, 25%);
  padding-top: 1em;
}