- add_title :sign_in.l
.row
  .col-sm-6
    .well
      = render 'devise/sessions/new_form'
  .col-sm-6
    .alert.alert-info
      %h2= :or_sign_up.l
      = render 'devise/registrations/new_form'
- add_widget do
  = render "devise/shared/links"
