- add_title :subscribe_to_plan.l plan_name: @plan.name

%p= @plan.description
%h2= plan_charge_human @plan

= form_tag plan_subscriptions_path method: :post do
  %script{ class: 'stripe-button', src: 'https://checkout.stripe.com/checkout.js', data: subscription_data(@plan) }